@using NZFurs.Auth.Models
@using NZFurs.Auth.Resources
@using NZFurs.Auth.Views.Manage
@inject LocService SharedLocalizer
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav class="container mx-auto h-full flex justify-center items-center">
    <ul class="flex list-reset">
        <li class="mr-3 ml-3 @ManageNavPages.IndexNavClass(ViewContext)"><a class="no-underline text-yellow hover:text-white font-bold" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("PROFILE")</a></li>
        <li class="mr-3 ml-3 @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="no-underline text-yellow hover:text-white font-bold" id="change-password" asp-action="ChangePassword">@SharedLocalizer.GetLocalizedHtmlString("PASSWORD")</a></li>
        @if (hasExternalLogins)
        {
            <li class="mr-3 ml-3 @ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a class="no-underline text-yellow hover:text-white font-bold" id="external-login" asp-action="ExternalLogins">@SharedLocalizer.GetLocalizedHtmlString("EXTERNAL_LOGINS")</a></li>
        }
        <li class="mr-3 ml-3 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a class="no-underline text-yellow hover:text-white font-bold" asp-action="TwoFactorAuthentication">@SharedLocalizer.GetLocalizedHtmlString("2FA")</a></li>
        <li class="mr-3 ml-3 @ManageNavPages.PersonalDataNavClass(ViewContext)"><a class="no-underline text-yellow hover:text-white font-bold" asp-action="PersonalData">@SharedLocalizer.GetLocalizedHtmlString("PERSONAL_DATA")</a></li>
    </ul>
</nav>