@inject LocService SharedLocalizer
@using NZFurs.Auth.Resources
@using NZFurs.Auth.Views.Manage
@model NZFurs.Auth.Models.ManageViewModels.DeletePersonalDataViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA");
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h4 class="text-l mt-10 mb-4  text-nz-green-light text-center">@ViewData["Title"]</h4>

<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        <div class="text-red" role="alert">
            <p>
                <span class="fas fa-exclamation-triangle"></span>
                <strong>@SharedLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA_TEXT")</strong>
            </p>
        </div>

        <div>
            <form id="delete-user" method="post" class="form-group">
                <div asp-validation-summary="All" class="text-red"></div>
                @if (Model.RequirePassword)
                {
                    <div class="form-group">
                        <label asp-for="Password" class="mt-4 font-bold text-nz-green-light block mb-2">@SharedLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                        <input asp-for="Password" class="max-w-full w-full block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded" />
                        <span asp-validation-for="Password" class="text-red"></span>
                    </div>
                }
                <button class="w-full mt-8 mb-8 bg-red hover:bg-red-darker text-white font-bold py-2 px-4 rounded" type="submit">@SharedLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA_AND_CLOSE")</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}