@inject LocService SharedLocalizer
@using NZFurs.Auth.Resources
@using NZFurs.Auth.Views.Manage
@model NZFurs.Auth.Models.ManageViewModels.EnableAuthenticatorViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP");
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_STEPS")</p>
    <ol class="list">
        <li>
            <p>
                @SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_DOWNLOAD_TEXT")
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> @SharedLocalizer.GetLocalizedHtmlString("AND")
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> @SharedLocalizer.GetLocalizedHtmlString("OR")
                @SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_GOOGLE_TEXT")
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> @SharedLocalizer.GetLocalizedHtmlString("AND")
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>@SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN1")<kbd>@Model.SharedKey</kbd> @SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN1")</p>
            <div id="qrCode">
                @Model.AuthenticatorQrCodeSvg
            </div>
        </li>
        <li>
            <p>
                @SharedLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT_DETAILS")
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("VERIFICATION_CODE")</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("VERIFY")</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
