@using NZFurs.Auth.Resources
@using NZFurs.Auth.Views.Manage
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES");
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2 class="text-2xl m-6 text-nz-green-light text-center">@ViewData["Title"]</h2>

<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        <div class="text-red mb-4" role="alert">
            <p>
                <span class="fas fa-exclamation-triangle"></span>
                <strong>@SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_SAFE_PLACE")</strong>
            </p>
        </div>
        <div class="text-white">
            <p>
                @SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_INFO_LOSE")
            </p>
            <p>
                @SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT")
                <a asp-action="ResetAuthenticatorWarning">@SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT_LINK")</a>
            </p>
        </div>

        <div>
            <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
                <button class="w-full mt-8 mb-8 bg-red hover:bg-red-darker text-white font-bold py-2 px-4 rounded" type="submit">@SharedLocalizer.GetLocalizedHtmlString("GENERATE_RECOVERY_CODES")</button>
            </form>
        </div>
    </div>
</div>