@inject LocService SharedLocalizer
@using NZFurs.Auth.Resources
@using NZFurs.Auth.Views.Manage
@model NZFurs.Auth.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("PROFILE");
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4 class="text-l mt-10 mb-4  text-nz-green-light text-center">@ViewData["Title"]</h4>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        <form method="post">
            <div asp-validation-summary="All" class="text-red"></div>
            <div class="mb-4">
                <label class="font-bold text-nz-green-light block mb-2" asp-for="Username">@SharedLocalizer.GetLocalizedHtmlString("USERNAME")</label>
                <input asp-for="Username" class="block appearance-none max-w-full w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded" disabled />
            </div>
            <div class="mb-4">
                <label class="font-bold text-nz-green-light block mb-2" asp-for="Email">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="mb-2 block appearance-none max-w-full w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded" />
                        <span class="input-group-addon" aria-hidden="true"><span class="fas fa-check-circle text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="mb-2 block appearance-none max-w-full w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded" />
                    <button asp-action="SendVerificationEmail" class="w-full bg-nz-green-light text-green-darkest font-bold py-2 px-4 rounded">@SharedLocalizer.GetLocalizedHtmlString("SEND_VERIFICATION_EMAIL")</button>
                }
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
            <div class="mb-4">
                <label class="font-bold text-nz-green-light block mb-2" asp-for="PhoneNumber">@SharedLocalizer.GetLocalizedHtmlString("PHONE_NUMBER")</label>
                <input asp-for="PhoneNumber" class="block max-w-full w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded" />
                <span asp-validation-for="PhoneNumber" class="text-red"></span>
            </div>
            <button type="submit" class="w-full mt-8 bg-yellow hover:bg-yellow-darker text-green-darkest hover:text-white font-bold py-2 px-4 rounded">@SharedLocalizer.GetLocalizedHtmlString("SAVE")</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
