@inject LocService SharedLocalizer
@using NZFurs.Auth.Resources
@using NZFurs.Auth.Views.Manage
@model NZFurs.Auth.Models.ManageViewModels.TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_TITLE");
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4 class="text-l mt-10 mb-4  text-nz-green-light text-center">@ViewData["Title"]</h4>

<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@SharedLocalizer.GetLocalizedHtmlString("2FA_NO_CODES_LEFT")</strong>
                    <p>@SharedLocalizer.GetLocalizedHtmlString("2FA_NO_CODES_LEFT_TEXT") <a asp-action="GenerateRecoveryCodes">@SharedLocalizer.GetLocalizedHtmlString("GENERATE")</a></p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@SharedLocalizer.GetLocalizedHtmlString("2FA_ONE_CODES_LEFT")</strong>
                    <p>@SharedLocalizer.GetLocalizedHtmlString("2FA_ONE_CODES_LEFT_TEXT")  You can generate a new set of recovery codes. <a asp-action="GenerateRecoveryCodes">@SharedLocalizer.GetLocalizedHtmlString("GENERATE")</a></p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@SharedLocalizer.GetLocalizedHtmlString("2FA_N_CODES_LEFT", @Model.RecoveryCodesLeft.ToString())</strong>
                    <p>@SharedLocalizer.GetLocalizedHtmlString("2FA_N_CODES_LEFT_TEXT") <a asp-action="GenerateRecoveryCodes">@SharedLocalizer.GetLocalizedHtmlString("GENERATE")</a></p>
                </div>
            }

            <a asp-action="Disable2faWarning" class="w-full mt-8 bg-yellow hover:bg-yellow-darker text-green-darkest hover:text-white font-bold py-2 px-4 rounded">@SharedLocalizer.GetLocalizedHtmlString("DISABLE_2FA_BUTTON")</a>
            <a asp-action="GenerateRecoveryCodesWarning" class="w-full mt-8 bg-yellow hover:bg-yellow-darker text-green-darkest hover:text-white font-bold py-2 px-4 rounded">@SharedLocalizer.GetLocalizedHtmlString("RESET_RECOVERY_CODES")</a>
        }

        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator"  asp-action="EnableAuthenticator" class="no-underline text-yellow hover:text-white font-bold">@SharedLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_ADD_AUTHENTICATOR_APP")</a>
        }
        else
        {
            <a id="enable-authenticator" asp-action="EnableAuthenticator" class="mr-4 no-underline text-yellow hover:text-white font-bold">@SharedLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_ADD_SETUP_APP")</a>
            <a id="reset-authenticator" asp-action="ResetAuthenticatorWarning" class="no-underline text-yellow hover:text-white font-bold">@SharedLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_ADD_RESET_APP")</a>
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
