@inject LocService SharedLocalizer
@using NZFurs.Auth.Resources
@model NZFurs.Auth.Models.AccountViewModels.ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("REGISTER");
}
<h2 class="text-2xl m-6 text-nz-green-light text-center">@ViewData["Title"].</h2>
<h4 class="text-l mt-10 mb-4  text-nz-green-light text-center">  @SharedLocalizer.GetLocalizedHtmlString("EXTERNAL_LOGIN_ASSOCIATE_ACCOUNT", ViewData["LoginProvider"].ToString())</h4>

<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-red"></div>
            <p class="text-white mb-4">
                @SharedLocalizer.GetLocalizedHtmlString("EXTERNAL_LOGIN_ASSOCIATE_ACCOUNT", ViewData["LoginProvider"].ToString())
            </p>
            <div class="mb-4">
                <label asp-for="Email" class="font-bold text-nz-green-light block mb-2">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                <input asp-for="Email" class="mb-2 block appearance-none max-w-full w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
            <button type="submit" class="w-full mt-8 bg-yellow hover:bg-yellow-darker text-green-darkest hover:text-white font-bold py-2 px-4 rounded">@SharedLocalizer.GetLocalizedHtmlString("REGISTER");</button>             
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
