@inject LocService SharedLocalizer
@using NZFurs.Auth.Resources
@model NZFurs.Auth.Models.AccountViewModels.LoggedOutViewModel

<div class="container mx-auto h-full flex justify-center items-center">
    <h1>
        <small>@SharedLocalizer.GetLocalizedHtmlString("LOGOUT_TEXT")</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            @SharedLocalizer.GetLocalizedHtmlString("LOGOUT_RETURN_TO") <a href="@Model.PostLogoutRedirectUri">@Model.ClientName</a>
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe class="signout logoutiframe" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
