@using NZFurs.Auth.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}
<h2 class="text-2xl m-6 text-nz-green-light text-center">@ViewData["Title"]</h2>
<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        <p>
            @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_YOUR_PASSWORD_HAS_BEEN_RESET") <a asp-controller="Account" asp-action="Login">@SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CLICK_HERE_TO_LOGIN")</a>.
        </p>
        <p>
            @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT1")<a asp-controller="Account" asp-action="Login">@SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")</a>.
        </p>
    </div>
</div>

